body{
    background-size: 1700px;
    margin: 0;
    overflow: hidden;
}

.floor {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
  }

  
.square {
    position: absolute;
    left: 49%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 100px;
    height: 120px;
    background: url(klipartz.com.png) center center / cover;
    border-radius: 30px;
    transform-origin: bottom center;
  }

  .falling-object {
    position: absolute;
    width: 100px; height: 100px;
    background-image: url(image-removebg-preview.png);
    
  }

  #container {
    position: relative;
    width: 100%;
    height: 100%;
}